body {
    vertical-align: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-family: 'Cinzel Decorative', cursive;
}
h2 {
    line-height: 2;
}
#nav-style {
    text-align: right;
}
.header {
    height: 200px;
    vertical-align: center;
    margin-top: 100px
}
.light, a {
    color: #DED9DB;
}
.bg-purple {
    background-color: #542966;
    color: #DED9DB;
}
.bg-pink, #label {
    color: #495B4B;
    background-color: #DED9DB;
}
.cupcakes-section {
    text-align: center;
}
#label {
    border-radius: 7px;
}
hr {
    border-top: 10px dotted white;
    width: 20%;
}
.main-image {
    max-height: 480px;
    width: auto;
    margin-right: 100px;
}