{% extends 'index.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col h-100">
                <img class="img-thumbnail img-fluid main-image"
                     src="https://images.unsplash.com/photo-1563778084459-859099e48677?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                     alt="cupcakes">
            </div>
            <div class="col mx-auto h-100 align-self-center">
                <h2 class="text-center">Elegant. <br>Unique. <br>Delicious.</h2>
            </div>
        </div>
    </div>


    <div class="container cupcakes-section mt-5">

        <div class="container w-75">
            <h1>Menu</h1>
            <hr class="width = 30%">
        </div>

        <div class="container" id="menu">
            <div class="row row-cols-3" id="menu-list">


{#                {% for cupcake in cupcakes %}#}

{#                    <div class="col">#}
{#                        <div class="card" style="width: 18rem;">#}
{#                          <img src="{{ cupcake.image }}" class="card-img-top" alt="cupcake photo">#}
{#                          <div class="card-body">#}
{#                            <h5 class="card-title">{{ cupcake.flavor }}</h5>#}
{#                          </div>#}
{#                          <ul class="list-group list-group-flush">#}
{#                            <li class="list-group-item">Size: {{ cupcake.size }}</li>#}
{#                            <li class="list-group-item">Rating: {{ cupcake.rating }}</li>#}
{#                          </ul>#}
{#                          <div class="card-body">#}
{#                            <button href="/api/cupcakes/{{ cupcake.id }}" class="btn">Card link</button>#}
{#                            <a href="#" class="card-link">Another link</a>#}
{#                          </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                {% endfor %}#}

            </div>
        </div>
    </div>



{% endblock %}